@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Patua+One&family=Work+Sans&display=swap');

:root {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5vw;

  --em-font-color: #9c9c9c;
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
.navLink {
  font-family: 'Patua One', cursive;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: 0 2em;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 1.5vh;
  }
}
